.data_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: .1px solid #5145455C;
    margin: 5px 0;
}

.data_item input {
    width: 5%;
}

.data_item .icon {
    width: 7%;
    display: flex;
    justify-content: space-between;
}

.data_item .edit_input {
    width: 100%;
}


.data_item .list {
    width: 85%;
}

.iconify {
    cursor: pointer;
}

.line-through {
    text-decoration: line-through;
}